<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wickedwitchwarsaw.udacityscholarshipprojectquizzapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/penguin_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizzAppPage1" />
        <activity android:name=".KingResult" />
        <activity android:name=".DraculaResult" />
        <activity android:name=".JokerResult" />
        <activity android:name=".QuizzAppPage2" />
        <activity android:name=".QuizzAppPage3"></activity>
    </application>

</manifest>